body{
    background-color: aqua;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 1.5rem;
    text-transform: capitalize;
}

